table {
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: center;
  padding: 8px;
}

td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #D0E0FF}

table:hover {
	background-color: #D0E0FF;
}

th {
  background-color: #89A1D2;
  color: white;
}